.header {
  width: 80vw;
  margin: 0;
  align-self: center;
  jus
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
