.events {
  justify-self: center;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 0;
    width: 100%;
    width: 80vw;
    figure {
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
      }
      figcaption {
        &.stageRed {
          background-color: #e9485b;
        }
        &.stageBlue {
          background-color: #4a6fbf;
        }
        &.stageGreen {
          background-color: #54a047;
        }
        &.stagePurple {
          background-color: #a12e8f;
        }
      }
    }
  }
}
