.header {
  margin-top: 30px;
  width: 80vw;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  @media screen and (max-width: 1600px) {
    width: 100%;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
