.news {
  justify-self: center;
  h2{
    text-align: center;
    text-transform: uppercase;
    padding
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0;
    width: 80vw;
    figure {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
