.news {
  width: 100%;
  margin: 0;
  width: 80vw;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    justify-self: center;
    figure {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
