.news {
  justify-self: center;
  h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 3rem;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 0;
    width: 80vw;
    figure {
      width: 100%;
      background-color: #efefef;
      height: fit-content;
      figcaption {
        h4 {
          text-transform: uppercase;
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        // height: 50%;
        object-position: 0 -65px;
      }
    }
  }
}
