.nav {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items
    li {
      a {
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
