.nav {
    marrem;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    li {
      a {
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
